<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
        <!--TITLE-->
        <title>Nabil Portofolio</title>
        <!--font-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!--logo-->
        <link href='https://css.gg/menu.css' rel='stylesheet'>
        <!--CSS-->
        <link rel="stylesheet" href="css/style.css">
    </head>
</head>
<body >
    <nav>
        <a href="javascript:void(0);" class="nav-menu" onclick="myFunction()">
            <i class="gg-menu"></i>
        </a>
        <div class= nav-container>
            <a class = "nav-contact nav-normal " href="#contact">Contact</a>
            <a class = nav-normal href="#porto">Portofolio</a>
            <a class = nav-normal href="#skill">Skill</a>
            <a class = nav-normal href="#about">About</a>
        </div>
    </nav>
    <body>
        <%- body %> 

        <!--JS-->
        <footer>
            <div class="footer-container">
                <a href="#">
                <img class="button-arrow" src="img/arrow.svg" >
                </a>   
                <a class="footer-container" href="#">
                </br>Return to Top
                </a>
            </div>
            <div class="footer-container image">
                <a href="https://www.linkedin.com/in/nabil-mustofa-41b3b0206/">
                <img class="img-footer" src="img/Linkedin-white.svg">
                </a>
                <a>
                <img class="img-footer" src="img/instagram.svg">
                </a>
                <a href="mailto:nabilmustofa6@gmail.com">
                <img class="img-footer" src="img/mail.svg">
                </a>
            </div>
            <div class="footer-container">
                <b>@2022 Nabil Mustofa</b>&nbsp All Rights Reserved.
            </div>
        </footer>

    </body>