<div class="detail">
    <div class="detail-container">
        <div class="detail-main">
            <img id="main-img" src="img/NETFLIX.png" alt="" class="opacity-1">
        </div>
        <div class="detail-side">
            <img id="img-1" src="img/NETFLIX.png" alt="">
            <img id="img-2" src="img/AMERTA.png" alt="">
            <img id="img-3" src="img/mic ind.png" alt="">
        </div>    
    </div>
    <h1>NETFLIX</h1>
    <div class="detail-container">
        <div class="detail-text">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate a qui, animi inventore repellat aliquid. Aut quam quasi, laborum modi alias tempora aspernatur error aliquam voluptate expedita perferendis quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi suscipit autem tempora ut dolorem cupiditate rerum eligendi nihil debitis temporibus, ad culpa quod. Excepturi cumque recusandae similique inventore in voluptatibus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad harum nemo optio voluptates laborum. Non ad at et expedita quis, ducimus error tempore blanditiis ex aut maxime nulla quia minus?
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate a qui, animi inventore repellat aliquid. Aut quam quasi, laborum modi alias tempora aspernatur error aliquam voluptate expedita perferendis quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi suscipit autem tempora ut dolorem cupiditate rerum eligendi nihil debitis temporibus, ad culpa quod. Excepturi cumque recusandae similique inventore in voluptatibus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad harum nemo optio voluptates laborum. Non ad at et expedita quis, ducimus error tempore blanditiis ex aut maxime nulla quia minus?    
            </p>

            <h4>Technology used:</h4>
            <div class="detail-tech">
                <div class="detail-tech-item">
                    <img src="img/HTML5.png" alt="">
                </div>
                <div class="detail-tech-item">
                    <img src="img/CSS3.png" alt="">
                </div>
                <div class="detail-tech-item">
                    <img src="img/JAVASCRIPT.png" alt="">
                </div>
                <div class="detail-tech-item">
                    <img src="img/Laravel.png" alt="">
                </div>
            </div>
        </div>   
        <div class="detail-sub">
            <h3>Github Link:</h3>
            <a href="https://github.com/NabilMustofaa/AMERTA-HTML">https://github.com/NabilMustofaa/AMERTA-HTML</a>
            <h3>Live Link:</h3>
            <a href="https://netflix.nabilmustofa.my.id">https://netflix.nabilmustofa.my.id</a>

        </div>
    </div>
    
</div>
<script src="js/nav.js"></script>
<script src="js/detail.js"></script>
    