<div class=main>
    <!-- content -->
    <div class = bg-main>
        <div class = main-divider>
            <div class = text-place>
                <h2> Hi, I am</h2>
                <h1 class = name>Nabil Mustofa</h1>
                <h4> Full Stack Website Developer </h4>
            </div>
            <div class ="main-button-container" >
                <a class = "main-button" href="mailto:nabilmustofa6@gmail.com">
                    <img class="button-image" src="img/email.svg">
                </a>
                <a class = "main-button" href="https://github.com/NabilMustofaa">
                    <img class="button-image" src="img/github.svg">
                </a>
                <a class = "main-button" href="https://www.linkedin.com/in/nabil-mustofa-41b3b0206/">
                    <img class="button-image" src="img/linkedin.svg">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="about" class="about">
    <div class = "box">
        <div class ="box-text">ABOUT</div>
    </div>
    <div class = "about-text">I am college student at Airlangga University, Science and Technology Faculty, Bachelor Degree of Information System. Curently highly focused at learning more about web development.</div>
    <div class = "divider" ><img src="img/separatorBlack 1.png"></div>
    <div class = "about-speciality-container">
        <div class="specilaty-container">
            <img class="img-speciality" src="img/136378-200 1.png">
            <div class="header-speciality">FAST LEARNERS</div>
            <div class="text-speciality">I love to learn more about anything, especially in web development or software engginering</div>

        </div>
        <div class="specilaty-container">
            <img class="img-speciality" src="img/img_533288 1.png">
            <div class="header-speciality">SYSTEMATICAL THINKING</div>
            <div class="text-speciality">I actually like making something from scratch, furthermore on project that have complexity problem </div>

        </div>
    </div>
    <div class = "divider" ><img src="img/separatorBlack 1.png"></div>
</div>
<div id="skill" class="skill">
    <div class = "box">
        <div class ="box-text">SKILL</div>
    </div>
    <div class = "about-head">FRONT END DEVELOPMENT : </div>
    <div class = "grid-skill">
        <div class="skill-container">
            <img class="img-skill" src="img/HTML5.png">
            <div class="text-skill">HTML 5</div>
        </div>
        <div class="skill-container">
            <img class="img-skill"src="img/CSS3.png">
            <div class="text-skill">CSS 3</div>
        </div>
        <div class="skill-container">
            <img class="img-skill"src="img/JAVASCRIPT.png">
            <div class="text-skill">JAVASCRIPT</div>
        </div>
        
        <div class="skill-container">
            <img class="img-skill" src="img/tailwindcss.svg">
            <div class="text-skill">TAILWIND</div>
        </div>
        <div class="skill-container visible-grid"></div>
        <div class="skill-container">
            <img class="img-skill"src="img/bootstrap.png">
            <div class="text-skill">BOOTSTRAP 5</div>
        </div>
        <div class="skill-container">
            <img class="img-skill"src="img/jquery.png">
            <div class="text-skill">JQUERY</div>
        </div>
    </div>
    <div class = "about-head">BACK END DEVELOPMENT : </div>
    <div class = "grid-skill">
        <div class="skill-container">
            <img class="img-skill" src="img/php.png">
            <div class="text-skill">PHP</div>
        </div>
        <div class="skill-container">
            <img class="img-skill" src="img/laravel.png">
            <div class="text-skill">LARAVEL</div>
        </div>
        <div class="skill-container">
            <img class="img-skill" src="img/MYSQL.png">
            <div class="text-skill">MYSQL</div>
        </div>
        <div class="skill-container">
            <img class="img-skill" src="img/node.png">
            <div class="text-skill">NODE.JS</div>
        </div>
        <div class="skill-container visible-grid"></div>
        <div class="skill-container">
            <img class="img-skill" src="img/express.png">
            <div class="text-skill">EXPRESS.JS</div>
        </div>
        <div class="skill-container">
            <img class="img-skill" src="img/mongo.png">
            <div class="text-skill">MONGO DB</div>
        </div>
    </div>
</div>

<div id="porto" class="porto">
    <div class = "box">
        <div class ="box-text">PORTOFOLIO</div>
    </div>
    <div>
        <div class="porto-text">
            Here are some of my projects that have been done
        </div>
        <div class="porto-container">
            <a href="/detail/Portofolio Website" class="image-place">
                <img class="image-porto" src="img/porto.png">
                <div class="overlay">Website Portofolio</div>
            </a>
            <a href="/detail/Amerta UNAIR" class="image-place">
                <img class="image-porto" src="img/AMERTA.png">
                <div class="overlay">Amerta UNAIR</div>
            </a>
            <a href="/detail/Get Retro" class="image-place">
                <img class="image-porto" src="img/getRetro.png">
                <div class="overlay">Get Retro</div>
            </a>
            <a href="/detail/MIC IND" class="image-place">
                <img class="image-porto" src="img/mic ind.png">
                <div class="overlay">MIC.ind Website</div>
            </a>

            <a href="/detail/Ricky Nelson Academy Website" class="image-place">
                <img class="image-porto" src="img/RNA.png">
                <div class="overlay">Ricky Nelson Academy Website</div>
            </a>
            <a href="/detail/Netflix Clone Website" class="image-place">
                <img class="image-porto" src="img/NETFLIX.png">
                <div class="overlay">Netflix Clone <span></span></div>
            </a>
        </div>
        <div class="porto-text">
            And many project more to come!
        </div>
    </div>
</div>

<div id="contact" class="contact">
    <div class = "box">
        <div class ="box-text">CONTACT</div>
    </div>
    <div class = "about-text">I am available about any oportunity, likewise you need help about some project or maybe you have some critic about me just contact me here!</div>
    <div class = "divider" ><img src="img/separatorBlack 1.png"></div>
    <form>
        <div class="contact-form-container">
            <input class="contact-input" type="text" id="name" name="name" placeholder="ENTER YOUR NAME">
            <input class="contact-input" type="text"id="email" name="email" placeholder="ENTER YOUR EMAIL">
            <input class="contact-input" type="text"id="phone" name="phone" placeholder="PHONE NUMBER">
            <textarea class="contact-input" name="message" id="message" placeholder="TYPE YOUR MESSAGE"></textarea>
            <button class="explore" id="contact-button" type="button"> Submit</button>
        </div>
    </form>
</div>
<script src="js/nav.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="js/script.js"></script>