<div class=main>
    <!-- content -->
    <div class = bg-main>
        <div class = main-divider>
            <div class = text-place>
                <h2> Hi, I am</h2>
                <h1 class = name>Nabil Mustofa</h1>
                <h4> Full Stack Website Developer </h4>
            </div>
            <div class ="main-button-container" >
                <a class = "main-button" href="mailto:nabilmustofa6@gmail.com">
                    <img class="button-image" src="https://storage.cloud.google.com/portfolio-nabil/img/email.svg?authuser=1">
                </a>
                <a class = "main-button" href="https://github.com/NabilMustofaa">
                    <img class="button-image" src="https://storage.cloud.google.com/portfolio-nabil/img/github.svg?authuser=1">
                </a>
                <a class = "main-button" href="https://www.linkedin.com/in/nabil-mustofa-41b3b0206/">
                    <img class="button-image" src="https://storage.cloud.google.com/portfolio-nabil/img/linkedin.svg?authuser=1">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="about" class="about">
    <div class = "box">
        <div class ="box-text">ABOUT</div>
    </div>
    <div class = "about-text">I am college student at Airlangga University, Science and Technology Faculty, Bachelor Degree of Information System. Curently highly focused at learning more about web development.</div>
    <div class = "divider" ><img src="https://storage.cloud.google.com/portfolio-nabil/img/separatorBlack%201.png?authuser=1"></div>
    <div class = "about-speciality-container">
        <div class="specilaty-container">
            <img class="img-speciality" src="https://storage.cloud.google.com/portfolio-nabil/img/136378-200%201.png?authuser=1">
            <div class="header-speciality">FAST LEARNERS</div>
            <div class="text-speciality">I love to learn more about anything, especially in web development or software engginering</div>

        </div>
        <div class="specilaty-container">
            <img class="img-speciality" src="https://storage.cloud.google.com/portfolio-nabil/img/img_533288%201.png?authuser=1">
            <div class="header-speciality">SYSTEMATICAL THINKING</div>
            <div class="text-speciality">I actually like making something from scratch, furthermore on project that have complexity problem </div>

        </div>
    </div>
    <div class = "divider" ><img src="https://storage.cloud.google.com/portfolio-nabil/img/separatorBlack%201.png?authuser=1"></div>
</div>
<div id="skill" class="skill">
    <div class = "box">
        <div class ="box-text">SKILL</div>
    </div>
    <div class = "about-head">FRONT END DEVELOPMENT : </div>
    <div class = "grid-skill">
        <div class="skill-container">
            <img class="img-skill" src="https://storage.cloud.google.com/portfolio-nabil/img/html5.png?authuser=1">
            <div class="text-skill">HTML 5</div>
        </div>
        <div class="skill-container">
            <img class="img-skill"src="https://storage.cloud.google.com/portfolio-nabil/img/css3.png?authuser=1">
            <div class="text-skill">CSS 3</div>
        </div>
        <div class="skill-container">
            <img class="img-skill"src="https://storage.cloud.google.com/portfolio-nabil/img/javascript.png?authuser=1">
            <div class="text-skill">JAVASCRIPT</div>
        </div>
        
        <div class="skill-container">
            <img class="img-skill" src="https://storage.cloud.google.com/portfolio-nabil/img/tailwindcss.svg?authuser=1">
            <div class="text-skill">TAILWIND</div>
        </div>
        <div class="skill-container visible-grid"></div>
        <div class="skill-container">
            <img class="img-skill"src="https://storage.cloud.google.com/portfolio-nabil/img/bootstrap.png?authuser=1">
            <div class="text-skill">BOOTSTRAP 5</div>
        </div>
        <div class="skill-container">
            <img class="img-skill"src="https://storage.cloud.google.com/portfolio-nabil/img/jquery.png?authuser=1">
            <div class="text-skill">JQUERY</div>
        </div>
    </div>
    <div class = "about-head">BACK END DEVELOPMENT : </div>
    <div class = "grid-skill">
        <div class="skill-container">
            <img class="img-skill" src="https://storage.cloud.google.com/portfolio-nabil/img/php.png?authuser=1">
            <div class="text-skill">PHP</div>
        </div>
        <div class="skill-container">
            <img class="img-skill" src="https://storage.cloud.google.com/portfolio-nabil/img/laravel.png?authuser=1">
            <div class="text-skill">LARAVEL</div>
        </div>
        <div class="skill-container">
            <img class="img-skill" src="https://storage.cloud.google.com/portfolio-nabil/img/mysql.png?authuser=1">
            <div class="text-skill">MYSQL</div>
        </div>
        <div class="skill-container">
            <img class="img-skill" src="https://storage.cloud.google.com/portfolio-nabil/img/node.png?authuser=1">
            <div class="text-skill">NODE.JS</div>
        </div>
        <div class="skill-container visible-grid"></div>
        <div class="skill-container">
            <img class="img-skill" src="https://storage.cloud.google.com/portfolio-nabil/img/express.png?authuser=1">
            <div class="text-skill">EXPRESS.JS</div>
        </div>
        <div class="skill-container">
            <img class="img-skill" src="https://storage.cloud.google.com/portfolio-nabil/img/mongo.png?authuser=1">
            <div class="text-skill">MONGO DB</div>
        </div>
    </div>
</div>

<div id="porto" class="porto">
    <div class = "box">
        <div class ="box-text">PORTOFOLIO</div>
    </div>
    <div>
        <div class="porto-text">
            Here are some of my projects that have been done
        </div>
        <div class="porto-container">
            <div href="/detail/Portofolio Website" class="image-place">
                <img class="image-porto" src="https://storage.cloud.google.com/portfolio-nabil/img/porto.png?authuser=1">
                <div class="overlay">Website Portofolio</div>
            </div>
            <div href="/detail/Amerta UNAIR" class="image-place">
                <img class="image-porto" src="https://storage.cloud.google.com/portfolio-nabil/img/amerta.png?authuser=1">
                <div class="overlay">Amerta UNAIR</div>
            </div>
            <div href="/detail/Get Retro" class="image-place">
                <img class="image-porto" src="https://storage.cloud.google.com/portfolio-nabil/img/getRetro.png?authuser=1">
                <div class="overlay">Get Retro</div>
            </div>
            <div href="/detail/MIC IND" class="image-place">
                <img class="image-porto" src="https://storage.cloud.google.com/portfolio-nabil/img/mic%20ind.png?authuser=1">
                <div class="overlay">MIC.ind Website</div>
            </div>

            <div href="/detail/Ricky Nelson Academy Website" class="image-place">
                <img class="image-porto" src="https://storage.cloud.google.com/portfolio-nabil/img/rna.png?authuser=1">
                <div class="overlay">Ricky Nelson Academy Website</div>
            </div>
            <div href="/detail/Netflix Clone Website" class="image-place">
                <img class="image-porto" src="https://storage.cloud.google.com/portfolio-nabil/img/netflix.png?authuser=1">
                <div class="overlay">Netflix Clone <span></span></div>
            </div>
        </div>
        <div class="porto-text">
            And many project more to come!
        </div>
    </div>
</div>

<div id="contact" class="contact">
    <div class = "box">
        <div class ="box-text">CONTACT</div>
    </div>
    <div class = "about-text">I am available about any oportunity, likewise you need help about some project or maybe you have some critic about me just contact me here!</div>
    <div class = "divider" ><img src="https://storage.cloud.google.com/portfolio-nabil/img/separatorBlack%201.png?authuser=1"></div>
    <form>
        <div class="contact-form-container">
            <input class="contact-input" type="text" id="name" name="name" placeholder="ENTER YOUR NAME">
            <input class="contact-input" type="text"id="email" name="email" placeholder="ENTER YOUR EMAIL">
            <input class="contact-input" type="text"id="phone" name="phone" placeholder="PHONE NUMBER">
            <textarea class="contact-input" name="message" id="message" placeholder="TYPE YOUR MESSAGE"></textarea>
            <button class="explore" id="contact-button" type="button"> Submit</button>
        </div>
    </form>
</div>
<script src="js/nav.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="js/script.js"></script>